obj
bin
deploy
deploy/*
test-results/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
*.swp
*~
SolutionVersion.cs
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
AutoTest.VS.xml
ldeploy.bat
*_mm_cache.bin
*.crunchsolution.*
